body {
  font-family: "Titillium Web", sans-serif;
  background-color: #24353f;
}

:root {
  --main-color: #17a2b8;
}

.main-color {
  color: var(--main-color);
}

form {
  width: 70%;
  height: 70%;
  background-color: #24353f;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.form-control,
.form-control:focus {
  background-color: transparent;
  color: #fff;
}

.form-control:focus {
  box-shadow: none;
  border-color: #17a2b8;
}

.form-control::placeholder {
  color: #fff;
}
